<div class="container">
<h1>Contacto</h1>

<div id="texto" #textos>
	<p appResaltado >
		Esta es la pagina de contacto, puedes enviarnos cualquier duda
	</p>
</div>

<div class="galeria">
	<div><img src="assets/img/coffee1.jpg" alt="primero" title="primero-cafe"></div>
	<div><img src="assets/img/coffee2.jpg" alt="segundo" title="segundo-cafe"></div>
	<div><img src="assets/img/coffee3.jpg" alt="tercero" title="tercero-cafe"></div>
</div>


<!--
Tamaño del slider:
<input type="number" [(ngModel)]="widthSlider"/>
<button (click)="cargarSlider()">Cargar slider</button>
<button (click)="resetearSlider()">Resetear slider</button>

<div *ngIf="anchuraToSlider">
	<slider [anchura]="anchuraToSlider"
			[etiquetas]="captions"
			(conseguirAutor)="getAutor($event)"
	></slider>
</div>

{{autor.nombre + " " + autor.website}}
-->

</div>